* {
	box-sizing: border-box;
	font-family: serif;
}

body {
	background-color: #f5ebe1;
	font-family: serif;
	color: #282c37;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	height: 100%;

}

h1 {
	margin-left: 1%;
}

/* Style for the welcome */
.intro-heading {
    text-transform: uppercase;
	padding: 14px 50px;
	text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 15px;
}

/* Style for logo at the top */
.header-image img{
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: 280px;
	top: 10px;
	text-align: center;
}

/* Style the top Menu bar */
.topMenu {
	overflow: hidden;
	background-color: #c4816c;
	height: 4%;
}

/* Style the topMenu links */
.topMenu a {
	font-size: 16px;
	line-height: 0;
	color: #282c37;
	height: 100%;
	font-size: 1.5em;
	color: black;
	float: left;
	display: block;
	text-align: center;
	padding: 14px 2%;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	border-color: #f5ebe1;
	font-family: serif;
}

a {
	color: black;
	text-decoration: none;
	font-size: 25px;
}

/* Formatting search box */
div.search-box{
    width: 15%;
    display: inline-block;
    font-size: 14px;
	right: 0;
	position: absolute;
	}
	
div.search-box input[type="text"]{
    height: 32px;
    padding: 5px 5px;
    border: 1px solid #CCCCCC;
    font-size: 14px;
}

div.search-box input[type="text"], .result{
    width: 100%;
    box-sizing: border-box;
}
    /* Formatting result items */
div.result p{
	width: 300px;
	height: 32px;
	font-size: 10px;
    margin: 0;
    padding: 2px 1px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
	background-color: white;
}
div.result p:hover{
    background: #f2f2f2;
}
/* end of search box formatting */

/* Style the footer */
.footer {
	background-color: #f5ebe1;
	padding: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

/* Style of the book objects */
div.book {
	background-color: #D3D3D3;
	color: black;
	margin: 20px;
	border: 1px solid black;
	float: left;
	width: 180px;
	height: 350px;
}

div.book img {
	width: 180px;
	height: 75%;
}

div.desc {
  padding: 15px;
  text-align: center;
}
/* End style of the book objects */